body {
  font-family: Garamond;
  background-color: #c75959;
}
.header {
  font-style: italic;
  color: blue;
  padding-top: 40px;
}
#menu-table {
  text-align: left;
  background-color: #f2f2f2;
  color: rgb(92, 5, 5);
  padding-bottom: 10px;
}
tbody tr:nth-child(even) {
  background-color: gainsboro;
}

.menu-layout {
  text-align: center;
  max-width: 740px;
  margin: auto;
  width: 100%;
}
#teksti {
  color: green;
}
#lista {
  color: green;
}
#menu-controls {
  color: green;
}
#add-comment {
  color: orange;
}
